tensorflow[and-cuda]
pandas
pandas_ta
numpy
matplotlib
seaborn
scikit-learn
jupyter
scikit-learn-intelex
dpcpp_cpp_rt
yfinance
gtab
fredapi
SciencePlots
scikeras[tensorflow]
sktime
scikit-optimize
mlflow
